.login-page, .register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #eee;
}
input::placeholder {
    color: #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    margin-top: 1rem;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background: orange;
    cursor: pointer;
    border: none;
    color: white;
}

.link{
    background: none;
    color: white;
    margin-right: 9px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}