.detail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: white;
    background: #333;
    border-radius: 1.7rem;
    padding-bottom: 3rem;
}

.detail img {
    max-width: 400px;
    width: 100%;
    margin-top: 3rem;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgb(217, 216, 216);
}

.box-detail {
    max-width: 500px;
    width: 100%;
    margin: 0 20px;
    background: none;
}

.box-detail .row {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    background: none;
}

.box-detail h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2rem;
    color: #ff4d4d;
    background: none;
}

.box-detail span{
    background: none;
    color: orange;
    font-size: 1.5rem;
    font-weight: 500;

}

.box-detail p {
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
    color: #ccc;
    background: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.box-detail .cart {
    background: orange;
    color: #fff;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #343333;
    font-weight: 500;
}

.box-detail .cart:hover {
    background: rgb(246, 246, 246);
    color: black;
}
